.bg {
    background-color: rgb(250, 250, 250)
  }

.shadow{
    shadow: 3px 3px gray
}

.w{
    background-color: white
}

p{
    text-indent: 45px;
}

.purp{
        color: #DB5ABA
}
 
.h{
min-height: 370px;
}

.pad{
    padding: 10px;
}
